.container {
  display: flex;
  justify-content: space-between;
}

.calculator {
  width: 700px;
  padding: 0.5rem;
  background-color: #0cbaba;
  background-image: linear-gradient(315deg, #0cbaba 0%, #380036 74%);
}
