@import './styles.css';

p {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background: gray;
  height: 100px;
  color: white;
  font: bold 4rem 'Syne Mono', monospace;
  letter-spacing: 5px;
  padding: 1rem;
  margin-bottom: 0.5rem;
  border: 2px solid black;
}
